screen {
    width: 100%;
    max-width: 720px;
    margin: 2em auto;
    text-align: center;
    user-select: none;
    /* margin-bottom: 50px; */
    }
#screen.waiting {
    background-color: rgb(166, 194, 243);
}
#screen.ready {
    background-color: rgb(217, 133, 133);
}
#screen.now {
    background-color: rgb(217, 255, 167);
}