screen {
    width: 300px;
    height: 200px;
    text-align: center;
    user-select: none;
    }
#screen.waiting {
    background-color: rgb(166, 194, 243);
}
#screen.ready {
    background-color: rgb(217, 133, 133);
}
#screen.now {
    background-color: rgb(217, 255, 167);
}