/* Googe fonts imported */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

:root {
  --move: 5s linear forwards;
}

body {
  background: #010409 !important;
}

/* Pacman landing page container */
.container_landing {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem auto;
  margin: 4px auto;
  height: 300px;
  background: #010409;
  display: grid;
  place-items: center;
  border: 10px groove lightblue;
  outline: 15px groove purple;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.board-section, .signin-mordal-section {
  border-radius: 30px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0;
  border: 10px groove lightblue;
  outline: 10px groove purple;
  box-shadow: 15px 15px 10px #bbb068;
  min-width: 420px;
  font-family: "Silkscreen", cursive;
}

.board-heading {
  font-size: 2rem;
  color: gold;
  margin-bottom: 30px;
}

.board-top-col {
  color: gold;
}

.board-row,
.board-col {
  color: white;
  font-size: 1.5rem;
}

.pagination-button {
  max-width: 80px;
  min-width: 80px;
  max-height: 80px;
  min-height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 15px;
  background: rgba(173, 247, 26, 0.4);
  color: white;
  font-family: "Silkscreen", cursive;
  font-size: 2rem;

  cursor: pointer;
  border: 10px groove lightblue;
}

.pagination-button:hover {
  transform: scale(1.10);
  background-color: red;
}

.chat-section {
  border-radius: 30px;
  margin-top: 100px;
  background-color: #000000;
  border: 10px groove lightblue;
  outline: 10px groove purple;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 15px 15px 10px #bbb068;
  min-width: 420px;
  z-index: 99;
  height: 480px;
}

/* text */
.text {
  position: relative;
  text-align: center;
}

.text::before {
  content: "Flashback Arcade";
  color: transparent;
  font-family: "Silkscreen", cursive;
  background: gold;
  background-clip: text;
  letter-spacing: 3px;
  animation: flash 1.5s infinite alternate;
}

@keyframes flash {
  0% {
    opacity: 1;
    font-size: 3rem;
  }
  100% {
    opacity: 0.7;
    font-size: 2rem;
  }
}

.cutting-line {
  border: 5px dashed white;
  margin: 25px 20px 20px 20px;
}

.search-section {
  position: relative;
  height: 50px;
  max-width: 450px;
  margin-bottom: 40px;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 18px 25px rgba(0, 0, 0, 0.25);
}

/* Search input  */
.search-input {
  height: 50px;
  border-radius: 10px;
  background: none;
  border: 2px solid purple;
  padding-left: 20px;
  box-shadow: 1px 1px mediumpurple;
  font-size: 23px;
}


::placeholder {
  color: white;
}

.search-icon {
  position: absolute;
  right: 75px;
  top: -3px;
  width: 60px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 20px;
}

.user-search-section {
  position: relative;
  height: 50px;
  max-width: 450px;
  margin-bottom: 40px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 18px 25px rgba(0, 0, 0, 0.25);
}

.user-search-icon {
  position: absolute;
  right: -35px;
  top: -3px;
  width: 60px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 20px;

  cursor: pointer;
}

.user-lookup-board {
  margin-bottom: 20px;
}

input.search-input:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*  cards */
.body_card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 100%;
  background: #161623;
  border-radius: 30px;
}

.container_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  padding: 4.2rem 0;
}

.container_card .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 2px 2px 15px rgba(254, 254, 254, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border: 1px solid;
  border-color: hsla(0, 0%, 100%, 0.5) #0000 #0000 hsla(0, 0%, 100%, 0.5);
  transition: 250ms;
}

.container_card .card:hover {
  transform: scale(1.025);
}

.container_card .card .content {
  padding: 2rem 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_card .card .content h2 {
  font-size: 2em;
  color: rgba(173, 247, 26, 0.4);
  pointer-events: none;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 2rem;
}

.container_card .card .content h3 {
  font-family: "Press Start 2P", cursive;
  font-size: 1.4em;
  color: #fff;
  z-index: 1;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.container_card .card .content p {
  font-family: math;
  font-size: 1em;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

.container_card .card .content a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  border-radius: 50px;
  margin-top: -1rem;
  font-family: "Press Start 2P", cursive;
  box-shadow: 2px 2px 10px rgb(149, 149, 149);
  transition: background-color 0.3s ease;
}

.container_card .card .content a:hover {
  box-shadow: 2px 2px 10px rgb(118, 215, 91);
  color: #000;
}

@font-face {
  font-family: retrogamer;
  src: url("https://db.onlinewebfonts.com/t/4c19fc875e7ba1e6831129de3ab5ac0b.woff2")
    format("woff2");
}

.header_homepage {
  width: 80%;
  border: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  top: 30px;
  color: #222;
  font-family: "Silkscreen", cursive;
  font-size: 3.5rem;
  text-align: center;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 65px;
}

.header_notfound {
  color: #222;
  font-family: "Silkscreen", cursive;
  font-size: 3.5rem;
}

.header_homepage h1, .header_signin, .header_notfound h1 {
  font-size: 3.5rem;
  width: 100%;
  color: white;
  background: none;
}

.music-btn {
  text-align: center;
  font-size: 1.1em;
  color: #551a88;
  margin-top: 2rem;

  font-family: "Press Start 2P", cursive;
}

/* CSS for Flip card  */

.flip-card {
  max-width: 1200px;
  background-color: transparent;
  width: 242px;
  height: 200px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side  */
.flip-card-front {
  background: #43434d;
  width: 205px;
  color: black;
  padding: 13px;
  border-radius: 1rem;
  margin-left: -5px;
}

/* Style the back side */
.flip-card-back {
  border-radius: 1rem;
  background: #43434d;
  color: white;
  transform: rotateY(180deg);
  font-family: math;
  margin-left: 5px;
}

/* Styling steps */
.step {
  font-size: 14px;
  margin: 5px;
  padding: 5px;
}

/* Styling heading */
.rule_heading {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.category-box {
  margin-top: 100px;
  padding-left: 120px;
  padding-right: 120px;
}

.category-tag {
  background: rgba(173, 247, 26, 0.4);
  color: white;
  font-family: "Silkscreen", cursive;
  font-size: 2rem;
  padding: 5px;
  margin-bottom: 70px;
  margin-top: -75px;
  cursor: pointer;
  border: 10px groove lightblue;
}

.category-tag:hover {
  transform: scale(1.10);
}

.category-tag.selected {
  background: red;

}
